src/main/resources/wsdl/wsp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cnpss-dgao.gob.mx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.cnpss-dgao.gob.mx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cnpss-dgao.gob.mx/">
      <s:element name="consultaDatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Folio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Curp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="A_Paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="A_Materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Fecha_Nacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Lugar_Nacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaDatosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaDatosSoapIn">
    <wsdl:part name="parameters" element="tns:consultaDatos" />
  </wsdl:message>
  <wsdl:message name="consultaDatosSoapOut">
    <wsdl:part name="parameters" element="tns:consultaDatosResponse" />
  </wsdl:message>
  <wsdl:portType name="wspSoap">
    <wsdl:operation name="consultaDatos">
      <wsdl:input message="tns:consultaDatosSoapIn" />
      <wsdl:output message="tns:consultaDatosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wspSoap" type="tns:wspSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaDatos">
      <soap:operation soapAction="http://www.cnpss-dgao.gob.mx/consultaDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wspSoap12" type="tns:wspSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaDatos">
      <soap12:operation soapAction="http://www.cnpss-dgao.gob.mx/consultaDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsp">
    <wsdl:port name="wspSoap" binding="tns:wspSoap">
      <soap:address location="http://www.cnpss-dgao.gob.mx/WSDGAO_GESTION/wsp.asmx" />
    </wsdl:port>
    <wsdl:port name="wspSoap12" binding="tns:wspSoap12">
      <soap12:address location="http://www.cnpss-dgao.gob.mx/WSDGAO_GESTION/wsp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>